.countries {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    min-width: fit-content;
}

button {
    min-width: 50px;
    min-height: 30px;
    color: white;
    background-color: #82b2ff;
    font-weight: bold;
    cursor: pointer;
}
h2, h3 {
    text-align: center;
}

.info-list {
    color: #82b2ff;
    display: flex;
    flex-direction: column;
}

li {
    cursor: pointer;
}

li:hover {
    transform: scale(1.1);
}